<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xszheng.mapper.D1RoleMapper">
  <resultMap id="BaseResultMap" type="com.xszheng.domain.D1Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="role_no" jdbcType="VARCHAR" property="roleNo" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	id,
  	user_no,
  	role_no,
  	role_name
  </sql>
  
  <!-- 根据用户编号查询所有角色 -->
  <select id="listRolesByUserNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT
  		<include refid="Base_Column_List"></include>
  	FROM
  		d1_role
  	<where>
  		<if test="userNo != null and userNo != ''">
  			AND user_no = #{userNo,jdbcType=VARCHAR}
  		</if>
  	</where>
  </select>
  
  <!-- 获取所有角色 -->
  <select id="listAll" resultMap="BaseResultMap">
  	SELECT
  		<include refid="Base_Column_List"></include>
  	FROM
  		d1_role
  </select>
  
</mapper>