<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xszheng.mapper.DynamicOperateMapper">

	<!-- 添加指定表字段 -->
	<update id="alterTableAddColumn">
		ALTER TABLE ${tableName} ADD COLUMN ${columnSql}
	</update>
    
    <!-- 修改字段属性 -->
    <update id="alterTableModifyColumn">
    	ALTER TABLE ${tableName} MODIFY ${columnSql}
    </update>
    
    <!-- 修改字段名及属性 -->
    <update id="alterTableChangeColumn">
    	ALTER TABLE ${tableName} CHANGE ${oldColumnName} ${columnSql}
    </update>
    
    <!-- 物理删除字段 -->
    <update id="alterTableDropColumn">
    	ALTER TABLE ${tableName} DROP COLUMN ${columnName}
    </update>
    
    <!-- 物理删除表【DDL 语句 mysql底层不支持事务】 -->
    <update id = "dropTable">
    	DROP TABLE ${tableName}
    </update>

</mapper>