<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xszheng.mapper.D1ResourceMapper">
  <resultMap id="BaseResultMap" type="com.xszheng.domain.D1Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="url_id" jdbcType="VARCHAR" property="urlId" />
    <result column="url_name" jdbcType="VARCHAR" property="urlName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_path" jdbcType="VARCHAR" property="methodPath" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	id,
  	url,
  	url_id,
  	url_name,
  	remark,
  	method_name,
  	method_path
  </sql>
  
  <!-- 根据角色编号来获取相应的资源 -->
  <select id="listByRoleNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT
  		<include refid="Base_Column_List"></include>
  	FROM
  		d1_resource dr
  	LEFT JOIN
  		d1_resource_role drr
  	ON dr.url_id = drr.url_id
  	<where>
  		<if test="roleNo != null and roleNo != ''">
  			AND drr.role_no = #{roleNo, jdbcType=VARCHAR}
  		</if>
  	</where>
  </select>
  
</mapper>